.stickynav {
  position: fixed !important;
  z-index: 10010;
  top: 0px;
  bottom: auto;
  margin-top: 0px;
  width: 1280px;
}
.navbar-nav .nav-item .dropdownMenu {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 240px;
  background-color: #ffffff !important;
  border-color: RGBA(255, 255, 255, 0);
  padding: 0;
}
.navbar-nav .nav-item .dropdownMenu li {
  list-style: none;
  padding-bottom: 10px;
  padding: 0;
  width: auto;
  position: relative;
  display: block;
}
.navbar-nav .nav-item .dropdownMenu li:last-child {
  padding-bottom: 0;
}
.navbar-nav .nav-item .dropdownMenu li a {
  text-decoration: none;
  width: 100%;
  line-height: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0 none;
  padding: 13px 15px !important;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out !important;
  color: #161616 !important;
  background: #ffffff;
  text-align: left;
}
.navbar-nav .nav-item .dropdownMenu li a:hover {
  background-color: #d61111;
  color: #ffffff !important;
}
.navbar-nav .nav-item .dropdownMenu li a.dropdownActive {
  background-color: #d61111;
  color: #ffffff !important;
}

header {
  position: relative;
  z-index: 9;
  /* background-image: linear-gradient(20deg,rgba(214,17,17,0.05) 65%,#000 65%)!important; */
}
section#troo-da-header-section {
  background: rgba(214, 17, 17, 0.05);
  padding-top: 30px;
  position: relative;
  z-index: 9;
}
section#troo-da-header-section:before {
  background: #1e1e1e;
  position: absolute;
  height: 210px;
  width: 100%;
  max-width: 449px;
  content: "";
  right: 0;
  top: 0;
  z-index: -1;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
section#troo-da-header-section:after {
  background: #1e1e1e;
  content: "";
  width: 37%;
  height: 380px;
  position: absolute;
  top: -170px;
  right: 19%;
  -webkit-transform: skew(242deg);
  -moz-transform: skew(242deg);
  transform: skew(242deg);
  z-index: -1;
}
button.hum-btn {
  position: absolute;
  right: 58px;
  top: 49px;
  background: transparent;
  border: none;
}
.troo-da-header-section .navbar-brand {
  margin-right: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: #ffffff !important;
  box-shadow: 0px 4px 35px rgb(100 100 111 / 5%);
  border-radius: 8px;
  background: #d61111;
  border-left: 8px solid #d61111;
  border-right: 8px solid #d61111;
  width: 1280px;
  padding: 0 20px;
}
header section#troo-da-header-section a.nav-link {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1e1e1e;
  padding: 42px 0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 0 !important;
}
ul.navbar-nav {
  margin-left: 50px;
  margin-right: 50px;
}
.addressNav {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.dropdown-toggle::after {
  content: "+" !important;
  position: absolute;
  border: none !important;
  font-size: 16px;
}
header section#troo-da-header-section a.nav-link:hover {
  opacity: 1;
}
.navbar-nav li.nav-item {
  position: relative;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: 0 !important;
}
.navbar-nav li.nav-item a {
  padding: 31px 0;
}

li.nav-item.active:after {
  top: -7px;
  background-color: #d61111;
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  right: 0;
  margin: 6px auto;
  opacity: 1;
}
header section#troo-da-header-section a.nav-link:hover {
  color: #d61111;
}
header section#troo-da-header-section li.nav-item.active a.nav-link {
  color: #d61111;
}

.socail-icon ul li a svg {
  background: transparent;
  color: #1e1e1e;
}
.socail-icon ul li {
  display: inline-block;
  margin-right: 10px;
}
.socail-icon ul {
  border: 0px solid transparent !important;
  padding: 0;
  margin-bottom: 0;
}
.socail-icon h4 {
  text-transform: uppercase;
  margin-top: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0fa00f;
}
.socail-icon ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s;
}
.socail-icon ul li a:hover {
  background-color: #d61111;
}
.socail-icon ul li a:hover svg {
  color: #fff;
}
.call-ss {
  display: flex;
  column-gap: 20px;
}
.call-text span {
  display: block;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.call-text strong a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-top: 7px;
}
.call-section {
  display: flex;
  justify-content: end;
  column-gap: 30px;
}

.appoinment-section a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: #d61111;
  box-shadow: 0px 4px 35px rgb(214 17 17 / 10%);
  border-radius: 100px;
  transition: 0.5s;
  text-decoration: none;
  padding: 17px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.appoinment-section a:after {
  background: #0fa00f;
  position: absolute;
  width: 0%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  border-radius: 100px 0 0 100px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
  z-index: -1;
}
.appoinment-section a:before {
  background: #0fa00f;
  position: absolute;
  width: 0%;
  height: 100%;
  content: "";
  top: 0;
  right: 0;
  border-radius: 0 100px 100px 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
}
.appoinment-section:hover a:before {
  opacity: 1;
  width: 50%;
}
.appoinment-section:hover a:after {
  opacity: 1;
  width: 50%;
}
header .appoinment-section a img {
  transition: 0.5s;
  padding-left: 6px;
}
header .appoinment-section {
  margin-right: 0;
  margin-left: -30px;
}
.appoinment-section a img {
  transition: 0.5s;
  padding-left: 14px;
}
.fooetr-red-box .appoinment-section a img {
  transition: 0.5s;
  filter: brightness(0);
  margin-left: 11px;
}
.fooetr-red-box .appoinment-section:hover img {
  filter: brightness(1);
}
.appoinment-section:hover img {
  transform: translateX(50%);
}
.appoinment-section a:hover {
  color: #fff;
  border: transparent;
}
.vert-move {
  animation: mover 1s infinite alternate;
  position: absolute;
  right: 89px;
  bottom: 44px;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.dropdown-item.active,
.dropdown-item:active {
  color: #1e1e1e !important;
  text-decoration: none !important;
  background-color: transparent !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: #d61111;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: transparent !important;
}
a.dropdown-item:hover {
  background: #1e1e1e !important;
  color: #fff;
}
ul.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  -webkit-transform: scaleY(01);
  transform: scaleY(1);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
ul.dropdown-menu {
  top: 100%;
}

@media (max-width: 1800px) {
  section#troo-da-header-section .vert-move{
    display: none;
  }
}
@media (max-width: 1450px) {
  section#troo-da-header-section:before{
    height: 166px;
  }
}
@media (max-width: 1320px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    width: -webkit-fill-available;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
  ul.navbar-nav {
    margin: 0 20px;
  }

  .stickynav {
    position: auto;
    z-index: 10010;
    top: 0px;
    left: 0px;
    margin: 0 20px;
    bottom: auto;
    margin-top: 0px;
    width: 1280px;
  }
  .navbar-brand img {
    max-width: 180px;
  }
  .troo-da-header-section .vert-move {
    display: none;
  }
  body .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .call-text strong a {
    font-size: 15px;
  }
}
@media (max-width: 1150px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
  section#troo-da-header-section:after {
    width: 45%;
  }
  li.nav-item.active:after {
    top: -6px;
  }
  .navbar-brand img {
    max-width: 150px;
  }
  header section#troo-da-header-section a.nav-link {
    font-size: 15px;
  }
  .appoinment-section a {
    font-size: 14px;
    padding: 15px 10px;
  }
  .navbar-nav li.nav-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 1024px) {
  section#troo-da-header-section:before {
    height: 162px;
  }
  li.nav-item.active:after {
    top: -19px;
  }
  section#troo-da-header-section:after {
    height: 300px;
  }
  header .appoinment-section a {
    padding: 13px 10px;
    font-size: 12px;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 12px 10px;
  }
  .socail-icon ul li a {
    width: 22px;
    height: 22px;
  }
  header section#troo-da-header-section a.nav-link {
    padding: 15px 0 !important;
  }
}

@media (max-width: 991px) {
  section#troo-da-header-section .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  section#troo-da-header-section:after {
    display: none;
  }
  header .appoinment-section {
    margin-left: 20px;
  }
  header .appoinment-section a {
    background: #1e1e1e;
    padding: 11px 14px;
    font-size: 14px;
  }
  li.nav-item.active:after {
    display: none;
  }
  .vert-move {
    display: none;
  }
  .socail-icon ul li a svg {
    color: #fff;
  }
  .call-text strong a {
    font-size: 12px;
  }
  section#troo-da-header-section {
    padding: 16px 0px;
    background-color: #1e1e1e;
  }
  header section#troo-da-header-section a.nav-link {
    text-align: left;
    color: #232323;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../../Images/Humberg.png) !important;
  }
  .navbar-expand-lg .navbar-collapse.show {
    background: #ffffff;
    left: 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  header section#troo-da-header-section a.nav-link {
    padding: 15px 0 !important;
  }
  .navbar-nav .nav-item .dropdownMenu {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #ffffff !important;
    border-color: RGBA(255, 255, 255, 0);
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #ffffff;
  }
  header section#troo-da-header-section li.nav-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .dropdown-menu.show {
    border: 0;
  }
  ul.navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-toggler {
    border: 0 !important;
  }
}

@media (max-width: 767px) {
  .call-section {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }
  .socail-icon ul {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  section#troo-da-header-section .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .stickynav {
    margin: 0 10px;
  }
}
